@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --main-red: #D53343;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.serach-cars{
  height: 40vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.users div{
}

.users-count span:first-child, .cars-count span:first-child, .brands-count span:first-child{
  color: var(--main-red);
}

.welcome{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 60px;
  align-items: center;
}

.container-2{
  display: none;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  margin-top: 3.5em;
  cursor: pointer; 
}

.center:before,
.center:after,
.center div {
  background: #000;
  content: "";
  display: block;
  height: 2px;
  border-radius: 3px;
  margin: 13px 0;
  transition: 0.5s;
}

.center:before {
  transform: translateY(9px) rotate(0deg);
}

.center:after {
  transform: translateY(-9px) rotate(0deg);
}

.center div {
  transform: scale(1);
}

.center.active:before {
  transform: translateY(15px) rotate(45deg);
}

.center.active:after {
  transform: translateY(-15px) rotate(-45deg);
}

.center.active div {
  transform: scale(0);
}
main{
  min-height: 71vh;
}

.brands .cars{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.login-div{
  box-shadow: -2px -3px 14px 0px gray;
}

.card-body{
  box-shadow: 1px 2px 9px 2px gray;
    border-radius: 9px;
}

.contact{
  background-image: url('../public/pexels-sarmad-mughal-94606-305070.jpg');
  background-size: cover;
}

.comment{
  background-image: url('../public/pexels-sarmad-mughal-94606-305070.jpg');
  background-size: cover;
}

.contact-form{
  border-radius: 10px;
  box-shadow: 1px 0px 7px 0px gray;
  background-color: white;
}

.car-images-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0.25rem;
}

.car-images-container::-webkit-scrollbar {
  height: 8px;
}

.car-images-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.car-images-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.carrusel-car-img{
  border: 2px solid transparent;
  border-radius: 10px;
}

.carrusel-car-img:hover{
  border: 2px solid #000;
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}

@media screen and (max-width:576px) {
  .comment {
    display: none;
  }
  .contact-inputs{
    flex-direction: column;
  }
  .page-title{
    margin-top: 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .log-in{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-div{
    box-shadow: none;
    width: 90vw;
  }

  .form{
    width: 95vw;
    background-color: #fff;
    border: none;
  }

  body{
    background-color: white;
  }
  h1{
    background-color: transparent!important;
  }

  .title-nav{
    font-size: 1rem;
  }

  .welcome{
    height: calc(65vh - 60px);
  }
  nav{
    display: flex;
    justify-content: space-around;
    height: 50px !important;
  }

  .nores-nav{
    display: none;
  }

  .container-2{
    display: flex;
  }

  .search-form.flex{
    margin-bottom: 4em;
  }

  .options-2{
    display: block;
    height: 50px;
    width: 100vw;
  }

  .options{
    top: 50px;
    left: 0;
    flex-direction: column;
    background-color:#fff;
    color: #000;
    height: fit-content;
    width: 100vw;
    position: absolute;
    padding: 1em;
    gap: 2em;
    box-shadow: 0px 4px 3px 0px #b7b7b7;
  }
  .res-nav{
    margin: 0 2em;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    align-items: self-start;
  }

  .users{
    margin-top: 0;
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }

  .users div{
    margin-bottom: 5em;
    width: 100%;
  }

  .users hr{
    background-color: lightgray;
  }

  .users div hr{
    margin: 0.55em 0;
  }

  .users div span{
    width: 100%;
  }
  .search-form.flex input{
    width: 200px;
  }

  .sign-title{
    margin-top: 2em !important;
    margin-bottom: 0;
  }

  .cars{
    grid-template-columns: 1fr;
  }

  h2{
    margin-top: 0!important;
  }

  .car{
    flex-direction: column;
  }

  .car img{
    width: auto;
    height: 100%;
  }

  .nonav{
    display: none;
  }

  .sing-up div{
    flex-direction: column;
    gap: 0;
  }
}

.sign-up-home .comment{
  display: none;
}

.sign-up-home .singUp{
  grid-template-columns: 1fr;
}

.sign-up-home .singUp .page-title{
  display: none;
}
h1{
  background: linear-gradient(to right, rgb(143, 16, 16), rgb(219, 94, 94));
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  height: calc(30vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-searched-brands{
  width: auto;
}

.img-searched-brand{
  width: auto;
  height: 150px;
}

/* Estilo base para la línea */
.img-searched-brand {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 11); /* Añade sombra */
  width: 100%;
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Estilo para la animación al pasar el cursor */
.img-searched-brand:hover {
  transform: scale(1.05); 
  transform-origin: center;
}

.brand-title, .sign-title, .search-title{
  position: relative;
  display: inline-block;
}

.brand-title::before, .sign-title::before, .search-title::before{
  content: '';
  position: absolute;
  background-color: var(--main-red);
  bottom: calc(-36%);
  height: 4px;
}

.search-title::before{
  width: 350px;
}

.brand-title::before{
  width: 180px;

}

.sign-title::before{
  width: 340px;
}

.container {
  max-width: 350px;
  border-radius: 20px;
  padding: 10px 35px;
  margin-top: 30px;
}

.form {
  margin-top: 5px;
}

.form .input {
  width: 100%;
  background: white;
  border: 1px solid #c9c9c9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid var(--main-red);
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #000000;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, var(--main-red) 0%,var(--main-red) 100%);
  color: white;
  padding-block: 10px;
  margin: 20px auto 0;
  border-radius: 10px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.car-box{
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease;
}

.car-box:hover{
  opacity: 0.8;
  transform: scale(1.005);
  transform-origin: center;
}


.loader-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.loader {
  width: 40px;
  height: 40px;
  border: 3px dotted #000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
